/*primer div */

.header_treehouse {
    height: 50px;
    width: 100%;
    background: white;
    display: table;
}

.header_treehouse img {
    margin-left: 200px;
    width: 150px;
    height: 50px;
}

input[type=button] {    
    display: block;
    width: 75px;
    margin: 0;
    background-color: white;
    border: none;
    color: grey;
    opacity: 0.6;
    transition: 0.3s;
    font-weight: bold;
    font-family: GothamRounded;
}

input[type=button]:hover {
    opacity: 1
}
          
.button-wrapper {
background: white;
display: table-cell;
vertical-align: middle;
}

/* segundo div */

.header_register {
    height: 500px;
    width: 100%;
    background-image: 
    linear-gradient(
      rgba(255, 255, 255, 0), 
      rgba(48, 56, 83, 1)
    ),
    url("images/5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
}

.reg1 {
    width: 50%;
    vertical-align: middle;
    text-align: center;
    padding: 25px;
    margin-top: 125px;
}

.reg2 {
    width: 50%;
    vertical-align: middle;
    text-align: center;
    padding: 50px;
}

.reg2 .box {
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* El font Gotham Rounded A para similitud con el sitio web proporcionado */

body {
    font-family: GothamRounded;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

@font-face {
    font-family: GothamRounded;
    /*woff y ttf para que funcione en la mayoria de sitios web y en movil */
    src: url("fonts/GothamRounded-Bold.woff") format("woff"), url("fonts/GothamRounded-Bold.ttf")  format("truetype");
}
